// .GridContainer{
//     align-self: center;
// }

// .GridItem{
//     align-self: center;
//     border: 1px solid black;
//     margin-bottom: 10px;;
//     :hover{
//         background-color: inherit;
//     }
// }

// .GridButton{
//     border: 1px solid black;
// }

.HeaderTicket{
 margin-top: 10%;
}

.tableContainer{
    margin-top: 100px;
    background: bisque !important;       
}
.tableheadrow{
    border-bottom: 2px solid rosybrown;;
}