// .GridContainer{
//     align-self: center;
// }

// .GridItem{
//     align-self: center;
//     border: 1px solid black;
//     margin-bottom: 10px;;
//     :hover{
//         background-color: inherit;
//     }
// }

// .GridButton{
//     border: 1px solid black;
// }

.HeaderTicket{
 margin-top: 20%;
}

.tableContainer{
    margin-top: 20px;
    background: floralwhite;       
}