.Counter{
    font-size: xx-large;    
}

.ticketOpenCard{
    background:antiquewhite !important;
}

.ticketClosedCard{
    background:lemonchiffon !important;
}

.agentOnlineCard{
    background:burlywood !important;
}   
